/*idx
grid{
     display: grid;
     grid-template-rows: 125% 175%;
    }

list{
    border: red solid 1px;
    width: 100%;
    padding : 3px 3px 3px 3px;
}*/

/* 화면크기 964**1265로 고정 */
body{
    font-family: 'NanumSquareRound',sans-serif;
}
/* read */
tit {
    display: grid;
    grid-template-columns: 300px 600px;
    width: 900px;
    margin-top: 80px;
    margin-left: 32px;
}
tit img {
    width: 300px;
    height: 200px;
    border-radius: 30%;
}
tit h1 {
    width: 600px;   
    height: 200px;
  /*  border: red solid 1px;*/
    margin: 0;
    padding-left: 30px;
    text-align: justify;
    font-size: 120px;
    color: rgb(80, 80, 80);
    
}

ctt {
   /* border: red solid 1px;*/
    display: block;
    width: 870px;
    height: 900px;
    margin-left: 32px;
    padding : 30px 0px 30px 30px;
    word-wrap: break-word;
    font-size: 50px;
    color: rgb(80, 80, 80);
}
ctt dt{font-size: 30px;}
ctt li{
    margin-left: 45px;
    list-style-type : "✏ ";
    list-style-position: outside;
    text-indent: -37px;
    font-size: 30px;
}
ctt #add{
    margin-left: 100px;
    list-style-type : none;
}

/* 210320 출처표기 */
footer{
    position: fixed;
    bottom: 10px;
    left: 32px;
    color:gray; 
    font-size: 30px;
}
footer a{color:gray;}



/* 210315 added__ ctl */
#home{display:none;}
#home + label{cursor:pointer;}
#home_icon {height:80px;}

#create{display:none;}
#create + label{cursor:pointer;}
#create_icon {height:80px;}

#del{display:none;}
#del + label{cursor:pointer;}
#delete_icon {height:80px;}

#del_form {display:inline;}

#update{display:none;}
#update + label{cursor:pointer;}
#update_icon {height:80px;}

ctl{
    position:absolute;
    display: inline;
    left:calc(900px - 300px);
}

/*add 210319_ menu_sidebar*/
#menuicon { display : none;}
	#menuicon + label {
        display : inline-block;
        left: -560px;
		width : 80px;
		height : 70px;
		position : relative;
        cursor : pointer;
        z-index: 1;
	}
	#menuicon + label span {
        display : block;
		position : absolute;
		width : 100%;
		height : 10px;
		border-radius : 30px;
		background : black;		
	}
	#menuicon + label span:nth-child(1) {
        top : 0;
	}
	#menuicon + label span:nth-child(2) {
		top : 50%;
        transform : translateY(-50%);
	}
	#menuicon + label span:nth-child(3) {
        bottom: 0;
    }

	#menuicon:checked + label span:nth-child(1) {
		top : 50%;
        transform : translateY(-50%) rotate(45deg);
        background-color: azure;
	}
	#menuicon:checked + label span:nth-child(2) {
        opacity : 0;
	}
	#menuicon:checked + label span:nth-child(3) {
		bottom : 37%;
        transform : translateY(-50%) rotate(-45deg);
        background-color: azure;
	}

	.sidebar {
		width : 500px;
		height : 100%;
		background : rgba(130,230,255,1);
		position : fixed;
		top : 0;
		left : -500px;
		z-index: 0;
		transition : all 0.35s;
	}
	#menuicon:checked + label + .sidebar {
		left : 0;
    }
    .sidebar ul{
        margin-top : 100px;
        margin-left: 50px;
        list-style-type: decimal;
        color: white;
        font-size: 50px;
    }
    .sidebar a{
        text-decoration : none;
        color: white;
    }